[submodule "themes/mana-theme"]
	path = themes/mana-theme
	url = https://github.com/Livour/hugo-mana-theme
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic.git
