<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght,ELSH,ELXP,SZP1,SZP2,XPN1@100..900,46.7,38,16,2,-28&display=swap" rel="stylesheet"> -->


    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <header class="jersey-10-regular">
      <nav style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;">

        <!-- Logo + site title container -->
        <div style="display: flex; align-items: center;">
          <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHQ5bHJyczZ6cmozODMzNXR5c2Zndm05cTZydTI1Z3VmbGJpMDVrYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9GO5y3UT3upiW9gO2P/giphy.gif"
              alt="logo" 
              style="height: 1.5em; width: auto;">
          <a href="{{ .Site.BaseURL }}" style="line-height: 1; font-size: 1.5em; color: #faf5d5; text-decoration: none;">
            {{ lower .Site.Title }}
          </a>
        </div>

        <!-- Main menu -->
        <ul style="display: flex; align-items: center; list-style: none; margin: 0; padding: 0; gap: 1rem;">
          {{ range .Site.Menus.main }}
          <li class="{{ if .HasChildren }}dropdown{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}

          {{ range .Site.Menus.feed }}
          <li>
            <a href="{{ .URL }}">~/{{ lower .Name}}</a>
          </li>
          {{ end }}
        </ul>

      </nav>
    </header>
